<div class="add-template">
    <div class="row">
        <div class="col-md-6 col-offset-md-3">
            <form id='add-template-form'>
                <div class="row margin-b15">
                    <div class="col-md-3"><label>ISBN:</label></div>
                    <div class="col-md-9"><input name="ISBN" value="12" type="text" class="form-control"/></div>
                </div>
                <div class="row margin-b15">
                    <div class="col-md-3"><label>Title:</label></div>
                    <div class="col-md-9"><input name="Title" value="13" type="text" class="form-control"/></div>
                </div>
                <div class="row margin-b15">
                    <div class="col-md-3"><label>Year:</label></div>
                    <div class="col-md-9"><input name="Year" value="14" type="text" class="form-control"/></div>
                </div>
                <div class="row margin-b15">
                    <div class="col-md-3"><label>&nbsp;</label></div>
                    <div class="col-md-9"><button type="button" class="form-control btn btn-primary btn-small">Save</button></div>
                </div>
            </form>
        </div>
    </div>
</div>